
/**
 * @author Cantico
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2006 by CANTICO ({@link http://www.cantico.fr})
 * @version 0.1.0
 */

/*
img, div {
	behavior: url("skins/workspace/images/iepngfix.htc");
}
*/
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	
/*
	font-family:  Tahoma, "DejaVu Sans", Verdana, Arial, sans-serif;
*/
	font-size: 9pt;

	font-family: Arial,sans-serif;
/*	font-size:74%;*/
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}


#ovfx_page {
}

body#display_folder #ovfx_page h2 {
	display: none;
}

body#display_folder div.bab_content {
	padding: 0 !important;
}

textarea, select, input {
	font-family:  inherit;
	font-size: 10pt;
}

.ui-widget,
.crm-page .ui-widget {
	font-family:  inherit /*Arial, sans-serif*/ !important;
	font-size: 9pt !important;
}


.crm-page .ui-widget input,
.crm-page .ui-widget select,
.crm-page .ui-widget textarea,
.crm-page .ui-widget button {
	font-family:  inherit /*Arial, sans-serif*/ !important;
	font-size: 10pt !important;
}

.crm-page-editor .ui-widget {
	font-family:  inherit /*Arial, sans-serif*/ !important;
	font-size: 10pt !important;
}

.widget-suggestlineedit-menu .widget-suggestlineedit-link {
	font-family:  inherit /*Arial, sans-serif*/ !important;
	font-size: 10pt !important;	
}
.widget-suggestlineedit-menu .widget-suggestlineedit-link em {
	font-weight: bold !important;
	font-style: normal;
}

.widget-suggestlineedit-menu .ui-state-default {
	background: #fff !important;
	border: 1px solid #fff !important;
	border-top: 1px solid #ccc !important;
}
.widget-suggestlineedit-menu .ui-state-default:FIRST-CHILD {
	border: 1px solid #fff !important;
}

/*
input[type="button"], input[type="submit"] {
	background: transparent url('../images/button_bg.png') repeat-x 0 0;
	border: 1px solid #b6b6b6;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #999;
	padding: 2px;
}


input[type="button"]:hover, input[type="submit"]:hover {
	border: 1px solid #888888;
	cursor: pointer;
}
*/

textarea, select, input[type="text"], input[type="password"], input[type="checkbox"] {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #dddddd;
	padding: 1px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	min-height: 18px;
	vertical-align: middle;
}


h1, h2, h3, h4, h5, h6 {
	font-family: Arial, "DejaVu Sans", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	color: #7b0;
}
h1 {
	font-size: 20pt;
	margin: .4em 0;
	text-shadow: #fff 0px 1px 1px;
}
h2 {
	font-size: 14pt;
	margin: .3em 0;
	text-shadow: #fff 0px 1px 1px;
}
h3 {
	font-size: 12pt;
	margin: .2em 0;
	text-shadow: #fff 0px 1px 1px;
}
h4 {
	font-size: 11pt;
	margin: .2em 0;
	color: #c70;
	text-shadow: #fff 0px 1px 1px;
}
h5 {
	font-size: 10pt;
	margin: .2em 0;
	text-shadow: #fff 0px 1px 1px;
}
h6 {
	font-size: 9pt;
	font-weight: bold;
	margin: .15em 0;
	color: #000;
}

a img {
	border: 0;
}





h2.title {
	font-size: 2em;
	font-weight: normal;
	padding-left: 25px;
	margin-top: 1em;
	color: #37a;
	text-shadow: #fff 0px 1px 1px;
}

h2.msgerror {
	font-size: 1.3em;
	font-weight: bold;
	color: #d77;
	padding-left:40px;
}



hr.clear {
	display: none;
	clear: both;
}

.icon_bar td {
	vertical-align: middle;
}

.icon_bar td a:focus {
	outline: none;
}

.icon_bar img {
	opacity: 0.6;
	padding: 4px;
	width: 24px;
	height: 48px;
	cursor: pointer;
	vertical-align: middle;
	position: relative;
}

#icon_bar_tooltip {
	height: 1em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding-top: 4px;
	color: #ffffff;
/*	opacity: 0.9;*/
}

#user_name {
	height: 1em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding: 8px;
	color: #ffffff;
	opacity: 0.9;
}


#leftcontent_controller {
	cursor: pointer;
	width: 160px;
}

#centercontent_controller {
}

#rightcontent_controller {
	cursor: pointer;
	width: 160px;
}




	
#leftcontent {
	width: 200px;
}



.centercontent a {
	text-decoration: underline;
	color: #000000;
}


#rightcontent {
	width: 160px;
}


.left_sections_container {
	background-color: #eeeeee;
}

.right_sections_container {
	background-color: #eeeeee;
}



/* Page head */

#ovfx_head {
	position: relative;
	border: 0;
	margin: 0;
	vertical-align: top;
	background: transparent url('../images/head_bg.gif') repeat-x 0 50%;
	height: 92px;
}

#ovfx_head img {
}

#ovfx_head img.print {
	display:none;
}

#ovfx_head .right {
	background: transparent url('../images/head_bg_light.gif') repeat-x top left;
}

#main_logo {
	display: none;	
}

#ovfx_head #main_title  {
	position: absolute;
	top: 5px;
	left: 30px;
	color: #ffffff;
/*	margin: 10px 0 8px 140px; */
	font-family: "Arial";
	filter:alpha(opacity=30);
	opacity: 0.4;
	font-size: 34px;
	font-weight: bold;
	letter-spacing: -0.07em;
	text-shadow: #246 0px 1px 4px;
	zoom: 1;
}
#ovfx_head #sub_title  {
	position: absolute;
	top: 38px;
	left: 30px;
	color: #ffffff;
/*	margin: 10px 0 8px 140px; */
	font: "Arial";
	filter:alpha(opacity=30);
	opacity: 0.5;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: -0.05px;
	text-shadow: #135 0px 1px 4px;
	zoom: 1;
}

#ovfx_head h2 {
	color: #ffffff;
	margin-left: 140px;
	margin-bottom: 10px;
	font: normal 15px "Arial";
	opacity: 0.4;
	filter: alpha(opacity=40);
	width: 200px;
	height: 20px;
	text-shadow: #246 0px 1px 4px;
}
#ovfx_head h2:hover {
	opacity: 0.7;
}
#ovfx_head h1 span {
}



/* Page foot */

#ovfx_foot {
	background-color: #aaaaaa;
	border-bottom: 2px solid #ffffff;
	padding: 0.3em 1em 0.3em 1em;
	text-align: right;
	font-style: normal;
	font-size: 0.9em;
	color: #ffffff;
}

#ovfx_foot a {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

#ovfx_foot a:hover {
	text-decoration: underline;
}



#ovfx_page .bab_content {
	padding: 0;
}

#ovfx_page .bab_content table {
	text-align: left;
}



#ovfx_menu {
	padding-top: 16px;
	width: 100%;
	height: 20px;
	font: normal 15px "Arial";
}

#ovfx_menu ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 16px;
	background: #fff url('../images/btn_2.gif') no-repeat 0 0;
	padding-left: 5px;
}

#ovfx_menu li {
	display:inline;
}

#ovfx_menu li a {
	float:left;
	display:block;
	background:#fff url('../images/btn_3.gif') repeat-x 0 0;
	height:16px;
	padding-left:9px;
	padding-right:9px;
	padding-top:2px;
	text-decoration:none;
	color:#039;
	border-right:#4C4C4C 1px dotted;
}

#ovfx_menu li.last a {
	border-right: none;
}

#ovfx_menu li a:hover {
	background-color: #039;
	color: #fff;
}

#ovfx_menu span {
	color: #ffffff;
	display: block;
	position: relative;
	margin-left: 20px;
}

#ovfx_menu span a {
	text-decoration: none;
	font-weight: normal;
	color: #ccccee;
}

#ovfx_menu span a:hover {
	color: #ffffff;
}



#bab_page_tabs > table {
	margin: 0;
	padding: 0;
	background: transparent url('../images/tab.png') repeat-x 0px 4px;

}
#ctx_menu {
	background: url('../images/tab.png') repeat-x scroll 0px 4px transparent;
	width: 100%;
}

#ctx_menu td.tab {
	background: transparent url('../images/unselected_tab.png') no-repeat 0px 4px;
}
#ctx_menu td.tab a {
	display: block;
	min-width: 160px;
	padding: 6px 10px 2px 10px;
	opacity: 0.75;
	filter: alpha(opacity=75);
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 105%;
}
#ctx_menu td.tab:hover {
	color: #ffffff;
	background: transparent url('../images/hovered_tab.png') no-repeat 0px 4px;
}
#ctx_menu td.tab_initial,
#ctx_menu td.tab_initial:hover {
	white-space: nowrap;
	min-width: 128px;
	background: transparent url('../images/unselected_tab.png') no-repeat 0px 4px;
}
#ctx_menu td.tab_final,
#ctx_menu td.tab_final:hover {
	width: 100%;
	background: transparent url('../images/unselected_tab.png') no-repeat 0px 4px;
}

#ctx_menu td.selected,
#ctx_menu td.selected:hover {
	font-weight: bold;
	color: #ffffff;
	background: transparent url('../images/selected_tab.png') no-repeat top left;
}
#ctx_menu td.selected a {
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 110%;
}

#ctx_menu .tab a:hover {
	color: #ffffff;
	text-decoration: none;
	opacity: 1.0;
	filter: alpha(opacity=100);
}



#ctx_menu td#previous_page {
	padding: 6px 12px 2px 12px;
}

#ctx_menu td#previous_page a {
	border: 1px solid #4B92AE;
	border-top: 1px solid #18648B;
	border-bottom: 1px solid #B6C9D7;
	display: -moz-inline-block;
	display: inline-block;
	opacity: 1;
	padding: 4px 10px 4px 15px;
	font-weight: normal;
	min-width: 0;
	white-space: nowrap;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 4px;
	border-top-left-radius: 12px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 4px;
/*
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5);	
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5);
*/
	background: transparent url('../images/white_trans_25.png') repeat;
}





#ovfx_page {
	padding: 0;
}





#bab_main_toolbar {
	padding: 2px;
	background-color: #333;
	margin: 0;
	color: #fff;
}

#bab_main_toolbar a, .bab_main_toolbar a:visited, .bab_main_toolbar a:active {
	text-decoration: none;
/*
	padding: 1em;
	font-weight: normal;
	font-size: 12px;
*/
	color: #ccc;
}
/*
#bab_main_toolbar .widget-icon {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 2px solid #444;
}
#bab_main_toolbar .widget-icon:hover {
	border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border: 2px solid #08f;
	background-color: #000;
	color: #fff;
	outline: none;
}
*/
#bab_main_toolbar .widget-icon {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #2e2e2e;
	border: 2px solid #2e2e2e;
}
#bab_main_toolbar .widget-icon:hover {
	border: 2px solid #08f;
	background-color: #000;
	color: #fff;
	outline: none;
}
#bab_main_toolbar .widget-link:hover .widget-icon .widget-icon-label {
	text-decoration: none;
}


#bab_main_toolbar a.print {
}
#bab_main_toolbar a.calendars {
}
#bab_main_toolbars a.categories {
}
#bab_main_toolbar a.events {
}
#bab_main_toolbar a.notifier {
}

#bab_main_toolbar td, #bab_main_toolbar td img, #bab_main_toolbar td a, #bab_main_toolbar td span {
	vertical-align: middle;
}

#bab_main_toolbar td img {
	margin-right: 4px;
}


.bab_foldable {
	border-bottom: 1px solid #dddddd;
	cursor: pointer;
}


.bab_foldable:hover {
	background-color: #dddddd;
}

.bab_foldable.bab_open {
	padding-left: 12px;
	background-image: url('../images/open.png');
	background-repeat: no-repeat;
	background-position: center left;
}

.bab_foldable.bab_closed {
	padding-left: 12px;
	background-image: url('../images/closed.png');
	background-repeat: no-repeat;
	background-position: center left;
	color: #aaaaaa;
}

address {
}

address a:link, address a:visited {
	color: #777;
}



/* Sections */

.bab_section {
	border: 0;
	margin-bottom: 0px;
	padding-bottom: 0.5em;
	background-color: #e2e2e2;
}

.bab_section .bab_content {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #cccccc;
	background: #e2e2e2 url('../images/section_bottom_bg.png') repeat-x top left;
}
.bab_section .bab_title {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #cccccc;
	background: #e2e2e2 url('../images/section_top_bg.png') repeat-x bottom left;
	color: #000000;
}


/** Section title */

.bab_section .bab_title {
	border: 0;
	cursor: pointer;
}
.bab_section .bab_title:hover {
	background: #cccccc;
}

.bab_section .bab_title h4 {
	padding: 4px 0px 4px 4px;
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	width: 80%;
}


.bab_section .bab_title a:link,
.bab_section .bab_title a:visited {
}

.bab_section .bab_title .nolink {
	display:none;
}

.bab_section .bab_title a {
	width: 12px;
	height: 12px;
	margin: 3px;
	float: left;
	position: relative;
	background-repeat: no-repeat;
}

.bab_section .bab_title a.open {
	background-image: url('../images/closed.png');
}

.bab_section .bab_title a.close {
	background-image: url('../images/open.png');
}

.bab_section .bab_title a.open:hover {
}

/** Section content */

.bab_section .bab_content ul {
	padding: 0;
	margin: .3em 0 0 0;
	list-style-type: none;
}

.bab_section .bab_content ul a {
	color: #777777;
	text-decoration: none;
	display: block;
	padding: 2px 1px 2px 10px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.bab_section ul a:hover {
	background-color: #000000;
	color: #ffffff;
}

.bab_section ul li {
	display:inline;
	}

.bab_section .bab_content h5 {
	font-weight:normal;
	text-align:center;
	margin: 0;
	padding: 1em 0.5em 0.5em 0.5em;
	font-size: 0.9em;
}

.bab_section table a:link,
.bab_section table a:visited {
	color:#039;
}

.bab_section table a:hover {
	background-color:#D2EAFF;
	text-decoration:none;
}




/* User section */

.bab_section.bab_usersection {
	background-color: #8eba6b;
}
.bab_section.bab_usersection .bab_content {
	border-top: 1px solid #9fcb7c;
	border-bottom: 1px solid #5e913e;
	background: #8eba6b url('../images/user_bottom_bg.png') repeat-x top left;
}
.bab_section.bab_usersection .bab_title {
	border-top: 1px solid #9fcb7c;
	border-bottom: 1px solid #5e913e;
	background: #8eba6b url('../images/user_top_bg.png') repeat-x bottom left;
	color: #ffffff;
}
.bab_section.bab_usersection .bab_title:hover {
	background: #5e913e;
}

.bab_section.bab_usersection ul a,
.bab_section.bab_usersection ul a:visited,
.bab_section.bab_usersection ul a:link {
	color: #ffffff;
}

.bab_section.bab_usersection ul .addon a {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.bab_section.bab_usersection ul a:hover {
	background-color: #5e913e;
}




/* Admin section */

.bab_section.bab_adminsection {
	background-color: #a36ebd;
}
.bab_section.bab_adminsection .bab_content {
	border-top: 1px solid #b47fce;
	border-bottom: 1px solid #652b80;
	background: #a36ebd url('../images/admin_bottom_bg.png') repeat-x top left;
}
.bab_section.bab_adminsection .bab_title {
	border-top: 1px solid #b47fce;
	border-bottom: 1px solid #652b80;
	background: #a36ebd url('../images/admin_top_bg.png') repeat-x bottom left;
	color: #ffffff;
}
.bab_section.bab_adminsection .bab_title:hover {
	background: #652b80;
}

.bab_section.bab_adminsection ul a,
.bab_section.bab_adminsection ul a:visited,
.bab_section.bab_adminsection ul a:link {
	color: #ffffff;
}

.bab_section.bab_adminsection ul .addon a {
}

.bab_section.bab_adminsection ul a:hover {
	background-color: #652b80;
}









#bab_montha {
	background-color:#FFFBED;
	border-bottom:#fc3 1px solid;
	}

#bab_montha .bab_title {
	background-color:#fc3;
	}

#bab_montha table {
	width:95%;
	padding:0px;
	border-collapse:collapse;
	margin:0 auto;
	}

#bab_montha thead td {
	font-weight:bold;
	border-bottom:#ccc 1px solid;
	}

#bab_montha td {
	padding:1px;
	text-align:center;
	}

.BabCalendarCurrentDayNumberSection {
	border:#ccc 1px solid;
	background-color:#D2EAFF;
	}



/* topics sections */

.bab_section.bab_topicssection {
	background-color: #919191;
}
.bab_section.bab_topicssection .bab_content {
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #707070;
	background: #919191 url('../images/topicssection_bottom_bg.png') repeat-x top left;
}
.bab_section.bab_topicssection .bab_title {
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #707070;
	background: #919191 url('../images/topicssection_top_bg.png') repeat-x bottom left;
	color: #ffffff;
}
.bab_section.bab_topicssection .bab_title:hover {
	background: #707070;
}

#leftcontent #bab_topicssection .bab_content li a {
	background: transparent url('../images/puce2.gif') no-repeat 95% 50%;
	color: #fff;
	padding:5px 5px 5px 5px ;
	margin-bottom:1px;
}

#leftcontent #bab_topicssection .bab_content li a:hover {
	background:#039 url('../images/puce3.gif') no-repeat 95% 50%;
	color:#ddd;
}



/* calendar ++ */

.bab_content #bab_calmonth {
	border: 1px solid #ffffff; 
}

.bab_content #bab_calmonth thead td {
	background: transparent url('../images/list_header_bg.png') repeat-x 0 0;
	border: 1px solid #ffffff;
	padding: 3px;
}

.bab_content #bab_calmonth tbody td {
	border: 1px solid #ffffff;
	padding: 3px;
}

.bab_cal_buttons {
	padding:.6em 0;
	background-color:#eee;
	margin-top:.5em;
	}

.bab_cal_buttons a {
	text-decoration:underline;
	padding:3px;
	color:#ffffff;
	}

.bab_cal_buttons a:hover {
	color:#ffffff;
	background-color:#fff;
	}

/* fileman ++ */

body.fileman#list .centercontent .bab_content a {
	text-decoration:none;
	}

body.fileman#list .centercontent .bab_content a:hover {
	color:#f60;
	}


/* topic */

#BabCategTitleNavigation {
	background-color:#F7FFEB;
	border:#B9D987 1px solid;
	margin:.5em .5% ;
	}

#BabCategTitleNavigation table {
	border-collapse:collapse;
	width:100%;
	height:20px;
	}

#BabCategTitleNavigation td {
	border:0;
	padding:0;
	margin:0;
	padding-left:.5em;
	}

#BabCategTitleNavigation p {
	padding:.2em .5em;
	margin:3px 4px;
	}

#BabCategTitleNavigation a {
	text-decoration:none;
	color:#000;
	}

#BabCategTitleNavigation a:hover {
	color:#930;
	}

#BabCategTitleNavigation .bab_buttons a {
	display:block;
	text-align:center;
	width:8em;
	background-color:#B9D987;
	padding:.2em .5em;
	margin:3px 4px;
	border:#879E63 1px solid;
	}

#BabCategTitleNavigation .bab_buttons a:hover {
	background-color:#fc3;
	border:#F09C18 1px solid;
	}


ul.BabCategTitleNavigation {
	padding: 2.5em;
	margin: 2.5em 15%;
	border: #039 2px solid;
	background-color:#BFD7EF;
	list-style-type:square;
	color:#039;
	}

ul.BabCategTitleNavigation li {
	padding-bottom:.5em;
	}

ul.BabCategTitleNavigation li a,
ul.BabCategTitleNavigation li a:visited {
	text-decoration: none;
	color:#000;
	font-size:1.2em;
	}

ul.BabCategTitleNavigation li a:hover {
	text-decoration: underline;
	}

ul.BabCategTitleNavigation ul {
	font-weight: normal;
	font-style: italic;
	padding-left: 1em;
	margin:0;
	padding:0;
	list-style-type:none;
	}


body.page.articles .bab_repeat {
	margin:.5em 0;
	}


/* PUBLIC CORE CSS */


.BabCalendarBodyBadMonthBackground {
	background-color: #ccc;
	}

.BabContentBackground,
.BabMenuActiveBackground {
	 background-color: #fff;
	 color:#000;
	 }

.BabCalendarMenuActiveBackground {
	background-color: #fff; 
	color: #116; 
	font-weight: bold;
	}

.BabLoginCadreBackground { 
	background: transparent url('../images/form_shadow.png') repeat-x bottom left;
	padding: 0px 0px 7px 0px;

	border-top: 1px solid #fcfcfc;

	border-left: 1px solid #fcfcfc;
	border-right: 1px solid #fcfcfc;
/*
	border-bottom: 1px solid #dfdfdf;
*/

}
/*
.BabLoginCadreBackground { 
	background-color: #ffffff;
	border-top: 1px solid #f7f7f7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #dfdfdf;
}
*/	 


.BabLoginMenuBackground { 
	padding: 1em;
	border: 1px solid #ccc;
	background: #f9f9f9 url('../images/form_bg.png') repeat-x 0 0;
	color: #000000;
}

.BabBodyTitleBackground {
	padding: 0.2em;
	background-color: #000000; 
	color: #ffffff;
	font-weight: bold;
}

.BabLoginMenuBackground a {
	text-decoration:none;
	font-weight:bold;
	}

.BabLoginMenuBackground a:hover {
	color:#000;
	text-decoration:underline;
	}

.BabSiteAdminFontBackground,
.BabTopicsBackground,
.BabTopicsButtonBackground {
	background-color: #ffffff;
	color: #000;
}

.BabLoginCadreBackground .BabSiteAdminFontBackground {
	background-color: #f9f9f9;
}


.Babhighlight { 
	background-color: #f00;
	}


/* background and font error messages  */
.BabErrorMessage {
	background-color: #fff; 
	color: #f33;  
	font-weight: bold;
	}
	
.BabWarningBodyBackground  {
	background-color: #fff; 
	color: #000;  
	font-weight: bold;
	}

.BabWarningBodyBackground a:Link,
.BabWarningBodyBackground a:Visited { 
	color: #00c; 
	font-weight: bold;
	}

.BabWarningBodyBackground a:Hover {
	color: #FF3333; 
	}

/* admin letterlist users/contacts */
.BabLetterlists { 
	color: #000000; 
	background-color: #FFFFFF;  
	font-weight: bold;
	}

.BabLetterlists a:link,
a.BabAlphabetLink:Link,
a.BabAlphabetLink:Visited { 
	color: #009933; 
	font-weight: bold;
	}
.BabLetterlists a:Hover,
a.BabAlphabetLink:Hover { 
	color: #000;
	}

a.BabNameEmailLink,
a.BabNameEmailLink:Link,
a.BabTitleSmall,
a.BabTitleSmall:Link { 
	color: #000000;
	}
a.BabNameEmailLink:Hover,
a.BabTitleSmall:Hover { 
	color: #0000CC;
	}



/* notes,faq,eventeditor,vacation */
a.BabEventFaqLink,
a.BabEventFaqLink:Link { 
	color: #009933;  
	font-weight: bold;
	}
	
a.BabEventFaqLink:Hover { 
	color: #FF3333;
 	}

a.BabContentLinkColor:Link,
a.BabContentLinkColor:Visited,
a.BabSummaryLinkColor:Link,
a.BabSummaryLinkColor:Visited {
	color: #0000CC;
	}
a.BabContentLinkColor:Hover,
a.BabSummaryLinkColor:Hover,
.BabSummaryNbrMessage {
	color: #FF3333;
	}





/**************** ARTICLES ****************************/

/* titles */
.BabTopicsTitleBackground {
	background-color: #fc3; 
	color: #000;
	font-weight: bold;
	padding:.05em .5em;
	}
/* font and background articles */

.BabTopicsAuthorBackground {
	border-bottom:#ccc 1px solid;
	}

.BabMonthCalendarCurentDayBackground {
	background-color: #E6E6F7; 
	color: #000000; 
	}

.BabArticleSpacing { 
	height: 5px; 
	}

a.BabTopicsFooterLink,
a.BabTopicsFooterLink:Link,
a.BabTopicsFooterLink:Visited { 
	color: #4990B1; 
	text-decoration: none;
	}
	
a.BabTopicsFooterLink:Hover {
	text-decoration: underline;
	}
	

.BabTopicsAuthorBackground {
	padding:0;
	padding-top:5px;
	}



a.BabTopicsFooterMoreLink:Link,
a.BabTopicsFooterMoreLink:Visited { 
	color: #000;
	text-decoration: none;
	border:#ccc 1px solid;
	padding:1px 4px;
	border-width:1px 1px 0 1px;
	background:#fff;
	margin-right:1em;
	position:relative;
	font-weight:bold;
	}

	
a.BabTopicsFooterMoreLink:Hover { 
	background-color:#fc3;
	border-color:#fc3;
	}

.BabTopicsTitleNavigation {
	color: #555; 
	font-weight: bold ; 
	text-decoration: underline;
	}


/********** AGENDA **** CALENDAR ******************************/



.BabCalendarBodyBackground,
.Blackbg { 
	background-color: #000000; 
	}



/*names of the days on top of monthcalendar*/
.BabCalendarDays { 
	background-color: #181A91; 
	color: #FFFFFF;  
	font-weight: bold;
	}

.BabMonthCalendarEventHourfont { 
	background-color: #FFFFFF; 
	color: #009933; 
	}




/***************** MAIL ******************************/

/* white background  in use on inbox  groups  - plus links */
.BabMailBackground { 
	background-color: #FFFFFF;
	color: #000000;
}


/***************** FORUMS**********************************/

/*threads*/
.BabForumBackground,
.HeaderDayCalendar { 
	background-color: #F9F9F9;  
	}
.BabForumBackground1 {
	background-color: #F0F0F0;
}

	

a.BabForumNavigation,
a.BabForumNavigation:Link,
a.BabForumNavigation:Visited { 
	color: #111166; 
	font-weight: bold;
	}
	
a.BabForumNavigation:Hover {
	color: #009933;
	}

 /*posts*/
.BabForumTopicsNavTitle,
.BabForumTopicsNavDate, 
.BabForumTopicsNavAuthor {
	background-color: #E6E6F7; 
	color: #111166;  
	font-weight: bold;
	}

a.BabForumTopicsConfirm,
a.BabForumTopicsConfirm:Link,
a.BabForumTopicsConfirm:Visited { 
	color: #4990B1; 
	text-decoration: none;
	}
a.BabForumTopicsConfirm:Hover 
	{ 
	text-decoration: underline;
	}

a.BabForumTopicsNavContribution:Link,
a.BabForumTopicsNavContribution:Visited { 
	color: #000000;
	}
a.BabForumTopicsNavContribution:Hover { 
	color: #0000CC;
	}

.BabForumTopicsNavTreeBody { 
	background-color:#FFFFFF; 
	color: #000000;   
	font-weight: bold;
	}
	

.BabForumTopicsNavTreeLive {
	background-color:#FFFFFF;
	color:#FF3333;
	font-weight:bold;
	}
	

/************* ADMINISTRATION SITES*************/

.BabSiteAdminTitleFontBackground,
.BabFaqTitleFontBg,
.BabTopicsAdminListTitle {
/*	background-color: #aaaaaa; */
	background: #23a2d1 url('../images/list_header_bg.png') repeat-x 0 0;
	color: #ffffff; 
	font-weight: normal;
	text-align: left;
}

.centercontent .BabSiteAdminTitleFontBackground a,
.centercontent .BabFaqTitleFontBg a,
.centercontent .BabTopicsAdminListTitle a {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

	
	
.BabSiteAdminSmall {
	background-color: #D1D1D9; 
	color: #111166 ;  
	font-weight: bold; 
	}


.BabSiteAdminFont { 
	color: #000; 
	}


/********* FAQ **** NOTES ********************************/
a.BabFaqLink,
a.BabFaqLink:Link,
a.BabFaqLink:Visited { 
	color: #0000CC; 
	font-weight: bold;
	}
	
a.BabFaqLink:Hover { 
	color: #FF3333; 
	}

.BabFaqQuestion { 
	background-color: #FFFFFF; 
	color: #0000CC;
	font-weight: bold;
	}


/********** ADMINISTRATION THEMES TOPICS **********/


a.BabTopicsAdminTitleLink,
a.BabTopicsAdminTitleLink:Link,
a.BabTopicsAdminTitleLink:Visited { 
	color: #111166; 
	font-weight: bold;
	}
	
a.BabTopicsAdminTitleLink:Hover { 
	color: #009933;
}



/******** orgcharts ********/

body .orgchartcontainer {
	position: static;
}
body .orgchart {
	position: static;
	background: transparent;
	font-size: 8px;
	padding-bottom: 2em;	
}

body .orgchart div.entity {
	border: 0.5em solid black;
	border-radius: 1em;
	-moz-border-radius: 1em;
/*
	background-image: url('../images/grey_vertical_gradient_light.png');
	background-position: 0 0;
	background-repeat: repeat-x;
*/
/*
	width: 90% !important;
*/
}
body .orgchart div.entity.highlighted {
	border-color: #e80;
	background-color: #fa0;
}
body .orgchart div.entity.highlighted * {
	color: #000 !important;
}

body .orgchart div.entity > b {
	font-size: 150%;
}

body .orgchart div.entity.highlighted div.members {
	display: default;
}

/********** DEBUG PANEL **********/

#BAB_DEBUG_link {
	position: absolute !important;
	top: 68px !important;
	left: 20px !important;
	color: #ffffff !important;
	background-color: transparent !important;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
#BAB_DEBUG_link:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
#BAB_DEBUG {
	margin: 0em !important;
	padding: 1em !important;
	position: absolute !important;
	right: 0 !important;
	left: 0 !important;
	top: 96px !important;
	color: #000000 !important;
	background-color: #ffffff !important;
	z-index: 1000 !important;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

/********** ORG CHART **********/
div.entity {
	/* outline: 1px solid #bbbbbb;  */
}

.level4.vertical div.entity {
	background-color: #4292c2;
	border:0;
	outline-width: 0;
	color:black;
	width:14em;
}

.level4.vertical div.entity div.members {
	background: transparent;
}

.level5.vertical div.entity {
	background-color: #3282b2;
}

.level3.vertical div.entity table img {
	display: none;
}

.level4.vertical div.entity table img {
	display: none;
}

.bab_treeToolbar,
.bab_treeLocationBar {
	color: #ffffff;
	background-color: #1e6a91;
}

.bab_treeLocationBar .bab_treeLocationElement {
	padding-top: 0;
	padding-bottom: 0;
}
.bab_treeToolbar .bab_toolbarButton:hover,
.bab_treeLocationBar .bab_treeLocationElement:hover {
	background-color: #3e8ab1;
}

span.level2.entity {
	font-weight: bold;
}

span.level3.entity {
	font-weight: normal !important;
}

span.level4.entity {
	font-weight: normal !important;
	color: #777777;
}
span.level5.entity {
	font-weight: normal !important;
	color: #aaaaaa;
}
.bab-frame .bab-section .bab-configuration-panel {
	padding-bottom: 48px;
	background: transparent url("../images/marquee_div.png") no-repeat scroll center bottom
}




html > body div.widget-calendar-period-content {
	background-image: url("../images/grey_vertical_gradient_light.png");
}
html > body div.widget-calendar-period-content .widget-calendar-period-time {
	background-image: url("../images/grey_vertical_gradient_light.png");
}


#ovfx_foot {
	display: none;
}

html > body .centercontent {
}


html > body .crm-page {
	background: #fff url('../images/grey_vertical_gradient_light.png') left top repeat-x; 	
}



/*
 *
 * List filters.
 *
 */

.widget-filter {
	background: transparent url("../images/grey_vertical_gradient_lightest.png") repeat-x left top !important;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
}

.widget-filter .filter {
	background: transparent url("../images/icons/search-reflect-transparent.png") no-repeat 99% 6px !important;
	font-weight: bold;
/* 	line-height: 2em; */
	border: 1px solid #ddd;
	border-top: 1px solid #eee;
	border-bottom: 0;
	color: #000 !important;
}
.crm-page-list .widget-filter {
	background: #ddd url('../images/grey_vertical_gradient_light.png') left top repeat-x !important;
	border-radius: 0;
	-moz-border-radius: 0;
}

.widget-filter .ui-accordion-header {
	font-size: 115%;	
}

.widget-filter .ui-accordion-header,
.widget-filter .ui-accordion-content {
	border: none;
	background: transparent;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
.widget-filter .ui-accordion-header:hover {
	background: transparent url('../images/white_trans_25.png') repeat;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.widget-filter .widget-pageselector {
	padding-left: 2em;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, .4);
background: #fff url('../images/grey_vertical_gradient_lightest.png') repeat-x;
}

.crm-page-list .widget-filter .filter {
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: transparent url("../images/icons/search-reflect-transparent.png") no-repeat 99% 25% !important;
	color: #555 !important;
	font-weight: normal;
}


.widget-page-previous,
.widget-page-next {
	font-size: 120%;
	background: transparent;
	padding: 0 6px !important;
	border: none !important; 
	opacity: 0.4;	
}
a.widget-page-previous,
a.widget-page-next {
	font-weight: bold;
	text-decoration: none;
	opacity: 1;
}
a.widget-page-previous:hover,
a.widget-page-next:hover {
	background: #eee !important;
}
.widget-filter .widget-pageselector a:focus {
	outline: 1px solid #ace;
}
.widget-page-number {
	vertical-align: top;
	background: transparent url('../images/white_trans_50.png') repeat;
	padding: 2px 6px !important;
	border: none !important;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	margin: 0 3px 5px 3px !important;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
	text-decoration: none !important;
}
a.widget-page-number:hover {
	font-weight: bold;
	background: #eee !important;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
}
.widget-page-number-current {
	vertical-align: top;
	background: #fff !important;
	color: #000 !important;
	padding: 2px 12px !important;
	border: none !important;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	margin: 0 6px 5px 6px !important;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);
	font-size: 130%;
	text-decoration: none !important;
}


.widget-table-section.widget-table-header tr.widget-table-row {
	background:url("../images/e6e6e6_40x100_textures_02_glass_75.png") repeat-x center center #e6e6e6;
	font-weight:bold;
	color: #777;
}
.widget-table-section.widget-table-header tr.widget-table-row td:hover,
.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-asc:hover {
	background:url("../images/dadada_40x100_textures_02_glass_75.png") repeat-x center center #dadada;
	font-weight:bold;
	color: #333;
}
.widget-table-section.widget-table-header tr.widget-table-row a {
	display: block;
	color: inherit;
}
.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-asc,
.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-desc {
	background:url("../images/dadada_40x100_textures_02_glass_75.png") repeat-x center center #dadada;
	padding-left:0;
}
.widget-table-section.widget-table-header .widget-table-row td.widget-table-column-sorted-asc,
.widget-table-section.widget-table-header .widget-table-row td.widget-table-column-sorted-desc {
	color: #555;
}
.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-asc a{
	background: url("../images/888888_7x7_arrow_down.gif") no-repeat scroll 5px center transparent;
	padding-left:18px;
	color: inherit;
}
.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-desc a {
	background: url("../images/888888_7x7_arrow_up.gif") no-repeat scroll 5px center transparent;
	padding-left:18px;
	color: inherit;
}
tr.widget-table-row.even {
	background-color: #fff ;
}
tr.widget-table-row.even td.widget-table-column-sorted-asc,
tr.widget-table-row.even td.widget-table-column-sorted-desc {
	background-color:#f5f5f5;
}

tr.widget-table-row.odd {
	background-color: #f7f7f7 ;
}
tr.widget-table-row.odd td.widget-table-column-sorted-asc,
tr.widget-table-row.odd td.widget-table-column-sorted-desc {
	background-color:#ededed;
}

tr.widget-table-row td {
	border-bottom:1px solid #e4e4e4;
	border-left:1px solid #eaeaea;
}




a.widget-link {
	display: -moz-inline-stack;	
	display: inline-block;	
}


.crm-actions a.widget-link {
	display: block;
	background: transparent url('../images/white_trans_25.png') repeat;
	border: 1px solid #eee; 
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;	
	border-radius: 1em;
	padding: 0.1em 0.8em;
	white-space: nowrap;
}

.crm-actions a.widget-link:hover {
	text-decoration: none;
	background: transparent url('../images/white_trans_50.png') repeat;	
	border: 1px solid #fff;
	outline: none;
}

/*.crm-recent-history */ .crm-history-element,
/*.crm-recent-history */ .crm-import {
/*	margin-top: 1em; */
	position: relative;
	padding: 1em 0 0.5em 0;
	border-top: 1px solid #e6e6e6;
	width: 100%;
	background: #fff url('../images/grey_vertical_gradient_lightest.png') left -150px repeat-x;
}
/*.crm-recent-history */ .crm-history-element:hover {
/*
	-moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, .4);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, .4);
*/
	background: #f5f7f9 url('../images/grey_vertical_gradient_lightest.png') left top repeat-x;
	z-index:2;
}
/*.crm-recent-history */ .crm-history-element .crm-content {
	color: #555;
}	
/*.crm-recent-history */ .crm-note .crm-note-content {
	color: #555;
}


/*.crm-recent-history */ .crm-history-element .crm-contact-link {
	font-weight: bold;	
}
/*.crm-recent-history */ .crm-history-element .widget-menu-button {
	background-color: #fff;
	opacity: 0.25;
}
/*.crm-recent-history */ .crm-history-element:hover .widget-menu-button {
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
	opacity: 1;
}
/*.crm-recent-history */ .crm-history-element:hover a {
	text-decoration: underline !important;	
}
/*.crm-recent-history */ .crm-history-element .crm-attachments {
	background-color: #f7f7f7;
	background: transparent url('../images/white_trans_25.png') repeat;	
	border: 2px solid #f9f9f9; 
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	margin-bottom: 1em;
	padding-left: 1em;	
	padding-right: 1em;	
}

.crm-history-element .crm-linked-elements {
	text-align: right;
}
.crm-history-element .crm-linked-elements .widget-link {
/*
	padding: 3px 3px 3px 5px;
	-moz-border-radius: 4px;
	background: transparent url('../images/grey_vertical_gradient_lightest.png') left top repeat-x;
	background: transparent url('../images/white_trans_50.png') repeat;	
	text-align: right;
	max-height: 32px;
*/
}
	
.crm-history-element .crm-header {
	width: 100%;	
}
.crm-history-element .crm-linked-elements .widget-label {
	font-size: 10px;
	color: #555;
}

.crm-strong {
	font-weight: bold;
}


.crm-tasks-summary,
.crm-tasks-summary-unscheduled {
	padding: 1px 5px 5px 5px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.crm-tasks-summary-overdue {
	padding: 0 4px 4px 4px;
	background-color: #ecc;
	border: 1px solid #dbb;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.crm-tasks-summary-today {
	padding: 0 4px 4px 4px;
	background-color: #eec;
	border: 1px solid #ddb;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


#crm_context_panel h4 {
	font-weight: bold;
	font-family: "Lucida Grande",Arial,sans-serif;
	color: #c70;
}
#crm_context_panel h5 {
	font-weight: bold;
	font-family: "Lucida Grande",Arial,sans-serif;
	color: #000;
	text-shadow: none;
}


.crm-classification {
	padding: 2px 12px 2px 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #eec;
	border: 1px solid #cca;
	border: 1px solid #fff; 
	color: #000;
	
	display: inline-block;
	display: -moz-inline-block;

	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);

}

.widget-timeline {
	border: 1px solid #ccc;
}

.crm-tag {
	margin: 2px 0 2px 0;
	padding: 3px 0px 3px 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #dec;
	background-color: #5a6;
	border: 1px solid #fff; 
	color: #fff;

	display: inline-block;
	display: -moz-inline-block;


	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);

}
.crm-tag .widget-icon {
/*	display: none; */
	visibility: hidden;
	width: 0px;
	padding: 0 0 0 20px !important;
	
}

.crm-tag:hover .widget-icon {
/*
	display: inline-block;	
	display: -moz-inline-block;
*/
	visibility: visible;	
}

.crm-tag.crm-not-checked {
	opacity: 0.6;	
}


a.crm-button {
	font-weight: bold;
	font-size: 100%;
	-moz-border-radius: 1em;
	border: 1px solid #fff;
	background-color: #ddd;
	display: inline-block;
	display: -moz-inline-stack;
	padding: 0.2em 0.8em;
}




.crm-action-accordion {
}

.crm-action-accordion .widget-accordion-header {	
	font-size: 100%;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	background: transparent url('../images/white_trans_25.png') repeat;
	border: 1px solid #eee;

	display: block;
	padding: 0.2em 0.8em;
}

.crm-action-accordion .widget-accordion-header a {
	display: inline-block;
	display: -moz-inline-stack;
	font-size:1em;
	padding: 0 0 0 2em !important;
}

.crm-action-accordion .widget-accordion-header.ui-state-active {
	background: transparent url('../images/white_trans_50.png') repeat !important;	
	font-weight: bold;
	font-size: 100%;
	border-color: #aaa;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	-moz-border-radius-topleft: 1em;
	-moz-border-radius-topright: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-top-left-radius: 1em;

	background-color: #ddd;
	padding: 0.2em 0.8em;
}

.crm-action-accordion .ui-accordion-content-active {
	background: transparent url('../images/white_trans_50.png') repeat;	
}


form .widget-label {
	color: #777;
	font-size: 9pt;
}



.bab_treeToolbar .bab_toolbarButton {
	display: inline-block;
	display: -moz-inline-block;
	min-height: 14px;
}

.crm-note .icon-top-48 .widget-icon {
	width: 130px;	
}
.crm-note a:hover {
	text-decoration: none !important;	
}
.crm-note a:hover span {
	text-decoration: underline !important;	
}


.crm-attachments {
	background-color: #f7f7f7;
	border-radius: 1em;
	-moz-border-radius: 1em;
	margin-bottom: 1em;
	padding-top: .5em;	
}
.crm-attachments a:hover {
	text-decoration: none;
}
.crm-attachments a.widget-link:hover .widget-icon-label  {
	text-decoration: underline;
}


.widget-popup-menu .widget-link:hover {
	background-color: #79B !important;
	color: #ffffff !important;
}


.crm-page-editor {
	padding: 2em;
}

.vcard .fn {
	font-weight: bold;
}


.crm-personal-task,
.crm-other-task {
	margin-top: 5px;	
}
.label-crm-personal-task {
	padding: 2px 0px 2px 8px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
/*	font-weight: bold; */
	background-color: #888;
	border: 1px solid #fff;
	color: #fff !important;
}
.label-crm-other-task {
	padding: 2px 4px;
	font-weight: normal;
	color: #777 !important;
}
#widget_timeline1 {
	min-height: 500px;
}


html > body .crm-page .icon-left.icon-left-16.icon-16x16 a.widget-link,
html > body .crm-page .icon-top.icon-top-16.icon-16x16 a.widget-link,
html > body .crm-page .icon-left.icon-left-24.icon-24x24 a.widget-link,
html > body .crm-page .icon-top.icon-top-24.icon-24x24 a.widget-link,
html > body .crm-page .icon-left.icon-left-32.icon-32x32 a.widget-link,
html > body .crm-page .icon-top.icon-top-32.icon-32x32 a.widget-link,
html > body .crm-page .icon-left.icon-left-48.icon-48x48 a.widget-link,
html > body .crm-page .icon-top.icon-top-48.icon-48x48 a.widget-link {
		text-decoration: none !important;
}
.widget-link:hover .widget-icon .widget-icon-label {
	text-decoration: underline;
}


.crm-card {
	border: 1px solid #ccc;
	background: transparent url('../images/white_trans_25.png') repeat;
	padding: 1em;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}


div.timeline-event-bubble-title,
div.timeline-event-bubble-title a {
	font-family: Arial, "DejaVu Sans", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	color: #7b0;
	font-size: 12pt;
	margin: .2em 0;
	text-shadow: #fff 0px 1px 1px;
	text-decoration: none;
}

div.timeline-event-bubble-body p {
	color: #777;
}




.crm-configuration-frame a.widget-link {
	width: 25em;
	padding: 1px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: transparent url('../images/white_trans_50.png') repeat;
}
.crm-configuration-frame a.widget-link:hover {
	padding: 0px;
	text-decoration: none;
	border: 1px solid #f7f7f7;
	border-bottom-color: #fff;
	border-top-color: #f0f0f0;
	
	background: url('../images/grey_vertical_gradient_lightest.png') left top repeat-x !important;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, .5);
}

.crm-configuration-frame .widget-icon-label {
	font-size: 1.2em;	
}
.crm-page.crm-page-configuration {
	background: #fcfcfc url("../images/grey_vertical_gradient.png") repeat-x left top; 
}


#bab_main_toolbar .crm-locationbar {
	display: block;
	position: relative;
	top: 1px;
	padding: 0 0 0 12px;
	margin: 0;
	background-color: #383838 !important;
}
.crm-locationbar .widget-link {
	background: transparent url("../images/location_separator.png") no-repeat right center; 
	padding: 4px 16px 4px 0px;
}
.crm-locationbar .widget-link:hover {
	color: #fff !important;
}
.crm-locationbar .widget-layout-flow-item:last-child .widget-link {
	font-weight: bold !important;
}

.crm-simple-orgchart .bab_treeToolbar {
	display: none;
}

.bab_treeLocationBar {
	display: none;
}

.orgchartcontainer {
	overflow: visible !important;
/*	background: transparent url('../images/white_trans_50.png') repeat;*/
	
}

.orgchart {
	overflow: visible !important;
	border: 0;
}
.orgchart .level1,
.orgchart .level1 > tbody > tr > td.subtree > div.single_sibling {
	background-image: none;	
}



html body .orgchart table.horizontal {
	font-family: Arial,sans-serif;
}

body {
	overflow: visible !important;
}


.widget-form .crm-long-description {
	font-size: 90%;
	font-style: italic;
}

.orgchart div.entity {
	box-shadow: 0px 0.5em 0.7em rgba(0, 0, 0, .6);
	-moz-box-shadow: 0px 0.5em 0.7em rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0px 0.5em 0.7em rgba(0, 0, 0, .6);
}
.orgchart div.entity.highlighted {
	box-shadow: 0px 1em 2em rgba(0, 0, 0, .7);
	-moz-box-shadow: 0px 1em 2em rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0px 1em 2em rgba(0, 0, 0, .7);
}


.widget-suggestlineedit {
	background-image: url('../images/222222_11x11_icon_arrows_updown.gif') !important;
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 16px !important;
}
.crm-suggestorganization {
	background-image: url('../images/icons/orgsmaller.png') !important;
}
.crm-suggestcontact {
	background-image: url('../images/icons/contactsmaller.png') !important;
}
.crm-suggestdeal {
	background-image: url('../images/icons/dealsmaller.png') !important;
}

.crm-suggesttag {
	background-image: url('../images/icons/tagsmaller.png') !important;
}
.crm-suggestclassification {
/* 	background-image: url('../images/icons/dealsmall.png') !important; */
}


/** CRM PAGES **/


.crm-page.crm-page-editor #crm_main_panel {
	padding: 1em 2em;
}

.crm-two-panel-page {
	padding: 0;	
}

.crm-two-panel-page > table.widget-layout-hbox {
	width: 100%;
}
.crm-two-panel-page > table > tbody > tr > .widget-layout-hbox-item {
	min-width: 10em;
/*	width: 30%; */
}
.crm-two-panel-page > table > tbody > tr > .widget-layout-hbox-item:FIRST-CHILD {
	width: 100%;
}

.crm-two-panel-page #crm_main_panel {
	padding: 0;
	margin: 0;
	height: 100%;
}

.crm-two-panel-page #crm_context_panel {
	padding: 0;
	margin: 0;
	height: 100%;
}
.crm-two-panel-page #crm_context_panel > .widget-layout {
	padding: 1em;
}
html > body .crm-two-panel-page #crm_context_panel {
	background: url("../images/grey_vertical_gradient.png") repeat-x left top;
}
.crm-two-panel-page > table,
.crm-two-panel-page > table > tbody,
.crm-two-panel-page > table > tbody > tr.widget-layout-hbox-tr
{
	height: 100%;
} 
.crm-two-panel-page > table > tbody > tr > td.widget-layout-hbox-item {
	background: #eef url("../images/shadow_right.png") repeat-y -6px top;
	height: 100%;
	width: 28em;
} 
.crm-two-panel-page > table > tbody > tr > td.widget-layout-hbox-item:first-child {
	background: transparent;
/*	width: 100%; */
}


body#calendar\:display .crm-two-panel-page #crm_context_panel {
	width: auto !important;
}





.crm-folder-view {
	padding: 2em 2em 0 2em;
}
.crm-folder-view.icon-top-48 .crm-file-icon  {
	width:140px;
}





.widget-toolbar.crm-locationbar {
	background-color: #ccc !important;
	padding: 2px 2px 2px 12px;
/*	display: none; */
}



.widget-toolbar a:FOCUS {
	outline: 1px solid #555;
}
.widget-toolbar .crm-instant-form {
	margin-top: 0.5em;
}
.widget-toolbar .widget-submitbutton {
	font-size: 11px;
	background: #555 ! important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #666;
	color: #eee;
	padding: 1px;
}
.widget-toolbar input {
	background: #888;
	border: 1px solid #999;
}



.widget-filepicker-file .actions-edit-delete {
	opacity: 0.3;	
}
.widget-filepicker-file:hover .actions-edit-delete {
	opacity: 1;	
}

.widget-toolbar .widget-filepicker-add {
	padding: 0 !important;
	margin: 0 !important;
	background: transparent !important;
	border: none !important;
	color: #ccc !important;
}


@media print {

	#ovfx_head,
	#ovfx_head,
	#main_logo,
	#BAB_DEBUG_link,
	#BAB_DEBUG,
	#workspace_toolbar_shadow,
	#bab_main_toolbar
	.icon_bar {
		display: none;
	}
	
}






input[type="file"].small {
	font-size: 6pt;
	opacity: 0.5;
	
}
input[type="file"].small:hover {
	opacity: 1;
}

.widget-displaymode {
	padding: 3px 0;
}



.crm-detailed-info-frame {
	padding: 2em;
}

.crm-detailed-info-frame .lcrm-header {
	width: 100%;
}

.crm-detailed-info-frame .org {
	font-weight: bold;
}

.crm-detailed-info-frame .position {
	font-weight: bold;
}


.crm-detailed-info-frame h2.fn,
.crm-detailed-info-frame h2.org {
	font-size: 20pt;
	font-weight: normal;
}

.ui-accordion-content {
	font-size: 8pt !important;
	padding: 1em !important;
}
.ui-accordion-content-active {
	border-top: none !important;
}
.ui-accordion-header a {
	padding: 0.3em 1em 0.3em 2.2em !important;
}
.ui-accordion-header.ui-state-active {
	border-bottom: none;
	font-weight: bold;
}


.lcrm-summary-current-deals {
	min-width: 20em;	
}



.crm-search-sidebar {
	margin:.2em;
	padding:.8em;
	
	border: 1px solid #ddd;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	background: url("images/grey_vertical_gradient_light.png") repeat-x left top;
	
}


.crm-search-organization {
	background-color: #fff3c9;
}

.crm-search-contact {
	background-color: #d2d8ec;
}

.crm-search-sidebar .widget-layout-hbox-item {
	vertical-align:middle;
	padding:.5em;
}

.fullwidth {
	width: 99%;
}


#crm_page_info {
	display: block;
	padding: 1em 2em 1em 2em;
	margin: 0 1em 1em 1em;
	background-color: #eec;
	border: 1px solid #cca;
	border-top: none;
	color: #886;
	font-size: 125%;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	cursor: pointer;
	overflow: hidden;
	box-shadow:0px 4px 10px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
	z-index: 1001;
}



.LibCampaign_headitem {
	margin:1em .5em;
	padding:.5em .5em 0 .5em;
	border: 1px solid #aaa;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #ccc;
	text-align:center;
	height:2.9em;
}


.LibCampaign_gauge {
	width:200px;
	
}


.not-checked {
	color: #b00;	
}

.crm-sub-label {
	font-weight: normal;	
}



/*
 * Home page
 */

#home\:displaySummary .crm-history-element {
/*
	border-bottom : 1px solid #ddd;
	padding-bottom: 1em;
	margin-bottom: 1.5em;
*/
	border-color: #ddd;
	max-height: 12em;
	overflow: hidden;
	background: transparent;
}
#home\:displaySummary .crm-history-element:hover {
	background: transparent url('../images/grey_vertical_gradient_lightest.png') left top repeat-x;
	z-index:2;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#home\:displaySummary .crm-history-element .crm-content p {
	margin: 0 0 1em 0;
}
#home\:displaySummary .crm-history-element .crm-content {
	color: #555;
}

#home\:displaySummary .crm-summary-current-deals {
	padding: 1em 2em;
	min-width: 25em;
	border-bottom-right-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
}

#home\:displaySummary .crm-global-history {
	background: #f7f7dd url("../images/grey_vertical_gradient_light.png") repeat-x left top;
	padding: 1em 1em;
}



#ovfx_page .widget-section.widget-foldable .widget-section-header {
	border-bottom: 1px solid #ddd;
	display: block;
}

.bab-page-message {
    margin: .5em 1em;
    padding: .5em 1em;
    color: #f57900;
    font-size: 1.2em;
}

