
.centercontent .workspace-article  {
	margin: 0 auto -1px auto;
	padding-left: 2em;
	padding-right: 12em;
	padding-bottom: 1em;
	border: 1px solid #f7f7f7;
	border-top: none;
	max-width: 600px;
	min-width: 400px;
}
html > body .centercontent .workspace-article  {
	background: url("../images/white_trans_50.png") repeat left top;
}
.centercontent .workspace-article h1 {
/*
	font-size: 20pt;
	font-style: normal;
	letter-spacing: -1.2px;
	margin: 0;
	padding: 1em 0 0.2em 0;
*/	
}
.centercontent .workspace-article h2 {
	letter-spacing: -1px;
}
.centercontent .workspace-article h3 {
	letter-spacing: -0.75px;
}
.centercontent .workspace-article-date {
	font-size: 95%;
	font-weight: normal;
	padding: 0 0 1em 0.25em;
	color: #666666;	
}

.centercontent .workspace-article-body {
	border-left: 4px solid #cccccc;
	padding-left: 1em;
	margin-left: 0.2em;
	font-size: 105%;
	line-height: 140%;
	color: #333;
}

body div.workspace-home-last-content {
/*
	position: relative;
	top: -8px;
*/
	padding: 0 1.5em 1em 1.5em;
	margin: 0 0 1em 1.5em;
	width: 250px;
	float: right;
	border: 2px dotted #4D97BC;
	border-bottom: 2px solid #eeeeee;
	border-left: 2px solid #eeeeee;
	border-right: 0;
	border-top: 0;
	border-bottom-left-radius: 2em;
	-moz-border-radius-bottomleft: 2em;
	-webkit-border-bottom-left-radius: 2em;
	background: url("../images/grey_vertical_gradient_lightest.png") repeat-x left top;
	background-color: #fff;
}

body div.workspace-home-last-content h3 a {
	color: inherit;
	text-decoration: inherit;
}

body div.workspace-home-last-content h3 {
	font-size: 1.6em;
	font-weight: normal;
	color: #4D97BC;
	border-bottom: 1px solid #cccccc;
}

body div.workspace-home-last-content dt {
	font-size: 0.8em;
	color: #999999;
}

body div.workspace-home-last-content dd {
	margin: 0;
	font-size: 0.9em;
	color: #000000;
	margin-left: 1em;
}

body div.workspace-home-last-content dd p {
	margin: 0 0 2em 0;
	line-height: 1.3em;
}

body div.workspace-home-last-content dd h4 {
	font-size: 1em;
	font-weight: normal;
	color: #4D97BC;
	line-height: 1.3em;
}

body div.workspace-home-last-content dd h4 a {
	text-decoration: none;
	font-weight: bold;
}


