
/**
 * @author Cantico
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2006 by CANTICO ({@link http://www.cantico.fr})
 * @version 0.1.0
 */

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family:  Arial, "DejaVu Sans", Tahoma, Verdana, sans-serif;
	font-size: 10pt;
}

body#display_folder #ovfx_page h2 {
	display: none;
}

body#display_folder div.bab_content {
	padding: 0 !important;
}

textarea, select, input {
	font-family: Arial, "DejaVu Sans", Tahoma, Verdana, sans-serif;
	font-size: 10pt;
}


input[type="button"], input[type="submit"] {
	background: transparent url('../images/button_bg.png') repeat-x 0 0;
	border: 1px solid #cccccc;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #aaaaaa;
	padding: 2px;
}

input[type="button"]:hover, input[type="submit"]:hover {
	border: 1px solid #888888;
	cursor: pointer;
}

textarea, select, input[type="text"], input[type="password"], input[type="checkbox"] {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #dddddd;
	padding: 1px;
}


h1 { font-size: 1.5em; margin: .4em 0; }
h2 { font-size: 1.4em; margin: .6em 0 1.5em 0; }
h3 { font-size: 1.3em; margin: .2em 0; }
h4 { font-size: 1.2em; margin: .2em 0; }
h5 { font-size: 1.1em; margin: .2em 0; }
h6 { font-size: 1em; margin: .2em 0; }


a img {
	border: 0;
}





h2.title {
	font-size: 1.5em;
	font-weight: normal;
	color: #4D97BC;
	padding-left: 25px;
}

h2.msgerror {
	font-size: 1.3em;
	font-weight: bold;
	color: #d77;
	padding-left:40px;
}



hr.clear {
	display: none;
	clear: both;
}

.icon_bar td {
	vertical-align: middle;
}

.icon_bar td a:focus {
	outline: none;
}

.icon_bar img {
	opacity: 0.5;
	padding: 4px;
	width: 24px;
	height: 48px;
	cursor: pointer;
	vertical-align: middle;
}

#icon_bar_tooltip {
	height: 1em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding: 8px;
	color: #ffffff;
	opacity: 0.9;
}

#user_name {
	height: 1em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding: 8px;
	color: #ffffff;
	opacity: 0.9;
}


#leftcontent_controller {
	cursor: pointer;
	width: 160px;
}

#centercontent_controller {
}

#rightcontent_controller {
	cursor: pointer;
	width: 160px;
}




	
#leftcontent {
	width: 200px;
}

.centercontent {
	background-color: #ffffff;
}

.centercontent a {
	text-decoration: underline;
	color: #000000;
}

.centercontent a:hover {
	color: #444444;
	text-decoration: underline;
}

.centercontent .bab_content {
	margin-bottom: 4em;
}


#rightcontent {
	width: 160px;
}


.left_sections_container {
	background-color: #eeeeee;
}

.right_sections_container {
	background-color: #eeeeee;
}



/* Page head */

#ovfx_head {
	border-top: 3px solid #000000;
	background: transparent url('../images/head_bg.gif') repeat-x 0 0;
	height: 110px;
}

#ovfx_head img {
}

#ovfx_head img.print {
	display:none;
}

#ovfx_head .right {
	background: transparent url('../images/head_bg_light.gif') repeat-x top left;
}

#ovfx_head h1 {
	color: #ffffff;
	margin-left: 140px;
	margin-bottom: 0;
	font: normal 28px "Arial";
	letter-spacing: -0.035em;
}
#ovfx_head h2 {
	color: #ffffff;
	margin-left: 140px;
	margin-bottom: 10px;
	font: normal 15px "Arial";
	opacity: 0.8;
}

#ovfx_head h1 span {
}



/* Page foot */

#ovfx_foot {
	background-color: #aaaaaa;
	border-bottom: 2px solid #ffffff;
	padding: 0.3em 1em 0.3em 1em;
	text-align: right;
	font-style: normal;
	font-size: 0.9em;
	color: #ffffff;
}

#ovfx_foot a {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

#ovfx_foot a:hover {
	text-decoration: underline;
}



#ovfx_page .bab_content {
	padding: 0 1em;
}

#ovfx_page .bab_content table {
	text-align: left;
}



#ovfx_menu {
	padding-top: 16px;
	width: 100%;
	height: 20px;
	font: normal 15px "Arial";
}

#ovfx_menu ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 16px;
	background: #fff url('../images/btn_2.gif') no-repeat 0 0;
	padding-left: 5px;
}

#ovfx_menu li {
	display:inline;
}

#ovfx_menu li a {
	float:left;
	display:block;
	background:#fff url('../images/btn_3.gif') repeat-x 0 0;
	height:16px;
	padding-left:9px;
	padding-right:9px;
	padding-top:2px;
	text-decoration:none;
	color:#039;
	border-right:#4C4C4C 1px dotted;
}

#ovfx_menu li.last a {
	border-right: none;
}

#ovfx_menu li a:hover {
	background-color: #039;
	color: #fff;
}

#ovfx_menu span {
	color: #ffffff;
	display: block;
	position: relative;
	margin-left: 20px;
}

#ovfx_menu span a {
	text-decoration: none;
	font-weight: normal;
	color: #ccccee;
}

#ovfx_menu span a:hover {
	color: #ffffff;
}




#ctx_menu {
/*	list-style-type: none;*/
	display: block;
}

#ctx_menu td.tab {
	padding: 6px 10px 2px 10px;
	background: transparent url('../images/unselected_tab.png') repeat-x 0px 4px

}
#ctx_menu .tab:hover {
	color: #ffffff;
	padding: 6px 10px 2px 10px;
	background: transparent url('../images/hovered_tab.png') repeat-x 0px 4px
}

#ctx_menu a {
	color: #ffffff;
	text-decoration: none;
	opacity: 0.75;
}

#ctx_menu .tab:hover a {
	color: #ffffff;
	text-decoration: none;
	opacity: 1.0;
}






#ovfx_page {
	padding: 0;
}





#bab_main_toolbar {
	padding: 0.2em;
	background-color: #000000;
	margin: 0;
	color: #eeeeee;
}


#bab_main_toolbar a, .bab_main_toolbar a:visited, .bab_main_toolbar a:active {
	text-decoration: none;
	padding: 0.1em;
	font-weight: bold;
	color: #aaaaaa;
}

#bab_main_toolbar .widget-icon {
	border: 1px solid #000000;
}
#bab_main_toolbar .widget-icon:hover {
	-moz-border-radius: 4px;
	border: 1px solid #888888;
	border-top: 1px solid #555555;
	border-bottom: 1px solid #999999;
	background-color: #666666;
	color: #ffffff;
	outline: none;
}

#bab_main_toolbar a.print {
}
#bab_main_toolbar a.calendars {
}
#bab_main_toolbars a.categories {
}
#bab_main_toolbar a.events {
}
#bab_main_toolbar a.notifier {
}

#bab_main_toolbar td, #bab_main_toolbar td img, #bab_main_toolbar td a, #bab_main_toolbar td span {
	vertical-align: middle;
}

#bab_main_toolbar td img {
	margin-right: 4px;
}


.bab_foldable {
	border-bottom: 1px solid #dddddd;
	cursor: pointer;
}


.bab_foldable:hover {
	background-color: #dddddd;
}

.bab_foldable.bab_open {
	padding-left: 12px;
	background-image: url('../images/open.png');
	background-repeat: no-repeat;
	background-position: center left;
}

.bab_foldable.bab_closed {
	padding-left: 12px;
	background-image: url('../images/closed.png');
	background-repeat: no-repeat;
	background-position: center left;
	color: #aaaaaa;
}

address {
}

address a:link, address a:visited {
	color: #777;
}



/* Sections */

.bab_section {
	border: 0;
	margin-bottom: 0px;
	padding-bottom: 0.5em;
	background-color: #e2e2e2;
}

.bab_section .bab_content {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #cccccc;
	background: #e2e2e2 url('../images/section_bottom_bg.png') repeat-x top left;
}
.bab_section .bab_title {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #cccccc;
	background: #e2e2e2 url('../images/section_top_bg.png') repeat-x bottom left;
	color: #000000;
}


/** Section title */

.bab_section .bab_title {
	border: 0;
	cursor: pointer;
}
.bab_section .bab_title:hover {
	background: #cccccc;
}

.bab_section .bab_title h4 {
	padding: 4px 0px 4px 4px;
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	width: 80%;
}


.bab_section .bab_title a:link,
.bab_section .bab_title a:visited {
}

.bab_section .bab_title .nolink {
	display:none;
}

.bab_section .bab_title a {
	width: 12px;
	height: 12px;
	margin: 3px;
	float: left;
	position: relative;
	background-repeat: no-repeat;
}

.bab_section .bab_title a.open {
	background-image: url('../images/closed.png');
}

.bab_section .bab_title a.close {
	background-image: url('../images/open.png');
}

.bab_section .bab_title a.open:hover {
}

/** Section content */

.bab_section .bab_content ul {
	padding: 0;
	margin: .3em 0 0 0;
	list-style-type: none;
}

.bab_section .bab_content ul a {
	color: #777777;
	text-decoration: none;
	display: block;
	padding: 2px 1px 2px 10px;
	opacity: 0.8;
}

.bab_section ul a:hover {
	background-color: #000000;
	color: #ffffff;
}

.bab_section ul li {
	display:inline;
	}

.bab_section .bab_content h5 {
	font-weight:normal;
	text-align:center;
	margin: 0;
	padding: 1em 0.5em 0.5em 0.5em;
	font-size: 0.9em;
}

.bab_section table a:link,
.bab_section table a:visited {
	color:#039;
}

.bab_section table a:hover {
	background-color:#D2EAFF;
	text-decoration:none;
}




/* User section */

.bab_section.bab_usersection {
	background-color: #8eba6b;
}
.bab_section.bab_usersection .bab_content {
	border-top: 1px solid #9fcb7c;
	border-bottom: 1px solid #5e913e;
	background: #8eba6b url('../images/user_bottom_bg.png') repeat-x top left;
}
.bab_section.bab_usersection .bab_title {
	border-top: 1px solid #9fcb7c;
	border-bottom: 1px solid #5e913e;
	background: #8eba6b url('../images/user_top_bg.png') repeat-x bottom left;
	color: #ffffff;
}
.bab_section.bab_usersection .bab_title:hover {
	background: #5e913e;
}

.bab_section.bab_usersection ul a,
.bab_section.bab_usersection ul a:visited,
.bab_section.bab_usersection ul a:link {
	color: #ffffff;
}

.bab_section.bab_usersection ul .addon a {
	opacity: 0.8;
}

.bab_section.bab_usersection ul a:hover {
	background-color: #5e913e;
}




/* Admin section */

.bab_section.bab_adminsection {
	background-color: #a36ebd;
}
.bab_section.bab_adminsection .bab_content {
	border-top: 1px solid #b47fce;
	border-bottom: 1px solid #652b80;
	background: #a36ebd url('../images/admin_bottom_bg.png') repeat-x top left;
}
.bab_section.bab_adminsection .bab_title {
	border-top: 1px solid #b47fce;
	border-bottom: 1px solid #652b80;
	background: #a36ebd url('../images/admin_top_bg.png') repeat-x bottom left;
	color: #ffffff;
}
.bab_section.bab_adminsection .bab_title:hover {
	background: #652b80;
}

.bab_section.bab_adminsection ul a,
.bab_section.bab_adminsection ul a:visited,
.bab_section.bab_adminsection ul a:link {
	color: #ffffff;
}

.bab_section.bab_adminsection ul .addon a {
}

.bab_section.bab_adminsection ul a:hover {
	background-color: #652b80;
}









#bab_montha {
	background-color:#FFFBED;
	border-bottom:#fc3 1px solid;
	}

#bab_montha .bab_title {
	background-color:#fc3;
	}

#bab_montha table {
	width:95%;
	padding:0px;
	border-collapse:collapse;
	margin:0 auto;
	}

#bab_montha thead td {
	font-weight:bold;
	border-bottom:#ccc 1px solid;
	}

#bab_montha td {
	padding:1px;
	text-align:center;
	}

.BabCalendarCurrentDayNumberSection {
	border:#ccc 1px solid;
	background-color:#D2EAFF;
	}



/* topics sections */

.bab_section.bab_topicssection {
	background-color: #919191;
}
.bab_section.bab_topicssection .bab_content {
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #707070;
	background: #919191 url('../images/topicssection_bottom_bg.png') repeat-x top left;
}
.bab_section.bab_topicssection .bab_title {
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #707070;
	background: #919191 url('../images/topicssection_top_bg.png') repeat-x bottom left;
	color: #ffffff;
}
.bab_section.bab_topicssection .bab_title:hover {
	background: #707070;
}

#leftcontent #bab_topicssection .bab_content li a {
	background: transparent url('../images/puce2.gif') no-repeat 95% 50%;
	color: #fff;
	padding:5px 5px 5px 5px ;
	margin-bottom:1px;
}

#leftcontent #bab_topicssection .bab_content li a:hover {
	background:#039 url('../images/puce3.gif') no-repeat 95% 50%;
	color:#ddd;
}



/* calendar ++ */

.bab_content #bab_calmonth {
	border: 1px solid #ffffff; 
}

.bab_content #bab_calmonth thead td {
	background: transparent url('../images/list_header_bg.png') repeat-x 0 0;
	border: 1px solid #ffffff;
	padding: 3px;
}

.bab_content #bab_calmonth tbody td {
	border: 1px solid #ffffff;
	padding: 3px;
}

.bab_cal_buttons {
	padding:.6em 0;
	background-color:#eee;
	margin-top:.5em;
	}

.bab_cal_buttons a {
	text-decoration:underline;
	padding:3px;
	color:#ffffff;
	}

.bab_cal_buttons a:hover {
	color:#ffffff;
	background-color:#fff;
	}

/* fileman ++ */

body.fileman#list .centercontent .bab_content a {
	text-decoration:none;
	}

body.fileman#list .centercontent .bab_content a:hover {
	color:#f60;
	}


/* topic */

#BabCategTitleNavigation {
	background-color:#F7FFEB;
	border:#B9D987 1px solid;
	margin:.5em .5% ;
	}

#BabCategTitleNavigation table {
	border-collapse:collapse;
	width:100%;
	height:20px;
	}

#BabCategTitleNavigation td {
	border:0;
	padding:0;
	margin:0;
	padding-left:.5em;
	}

#BabCategTitleNavigation p {
	padding:.2em .5em;
	margin:3px 4px;
	}

#BabCategTitleNavigation a {
	text-decoration:none;
	color:#000;
	}

#BabCategTitleNavigation a:hover {
	color:#930;
	}

#BabCategTitleNavigation .bab_buttons a {
	display:block;
	text-align:center;
	width:8em;
	background-color:#B9D987;
	padding:.2em .5em;
	margin:3px 4px;
	border:#879E63 1px solid;
	}

#BabCategTitleNavigation .bab_buttons a:hover {
	background-color:#fc3;
	border:#F09C18 1px solid;
	}


ul.BabCategTitleNavigation {
	padding: 2.5em;
	margin: 2.5em 15%;
	border: #039 2px solid;
	background-color:#BFD7EF;
	list-style-type:square;
	color:#039;
	}

ul.BabCategTitleNavigation li {
	padding-bottom:.5em;
	}

ul.BabCategTitleNavigation li a,
ul.BabCategTitleNavigation li a:visited {
	text-decoration: none;
	color:#000;
	font-size:1.2em;
	}

ul.BabCategTitleNavigation li a:hover {
	text-decoration: underline;
	}

ul.BabCategTitleNavigation ul {
	font-weight: normal;
	font-style: italic;
	padding-left: 1em;
	margin:0;
	padding:0;
	list-style-type:none;
	}


body.page.articles .bab_repeat {
	margin:.5em 0;
	}


/* PUBLIC CORE CSS */


.BabCalendarBodyBadMonthBackground {
	background-color: #ccc;
	}

.BabContentBackground,
.BabMenuActiveBackground {
	 background-color: #fff;
	 color:#000;
	 }

.BabCalendarMenuActiveBackground {
	background-color: #fff; 
	color: #116; 
	font-weight: bold;
	}

.BabLoginCadreBackground { 
	background: transparent url('../images/form_shadow.png') repeat-x bottom left;
	padding: 0px 0px 7px 0px;

	border-top: 1px solid #fcfcfc;

	border-left: 1px solid #fcfcfc;
	border-right: 1px solid #fcfcfc;
/*
	border-bottom: 1px solid #dfdfdf;
*/

}
/*
.BabLoginCadreBackground { 
	background-color: #ffffff;
	border-top: 1px solid #f7f7f7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #dfdfdf;
}
*/	 


.BabLoginMenuBackground { 
	padding: 1em;
	border: 1px solid #e7e7e7;
	background: #f9f9f9 url('../images/form_bg.png') repeat-x 0 0;
	color: #000000;
}

.BabBodyTitleBackground {
	padding: 0.2em;
	background-color: #000000; 
	color: #ffffff;
	font-weight: bold;
}

.BabLoginMenuBackground a {
	text-decoration:none;
	font-weight:bold;
	}

.BabLoginMenuBackground a:hover {
	color:#000;
	text-decoration:underline;
	}

.BabSiteAdminFontBackground,
.BabTopicsBackground,
.BabTopicsButtonBackground {
	background-color: #ffffff;
	color: #000;
}

.BabLoginCadreBackground .BabSiteAdminFontBackground {
	background-color: #f9f9f9;
}


.Babhighlight { 
	background-color: #f00;
	}


/* background and font error messages  */
.BabErrorMessage {
	background-color: #fff; 
	color: #f33;  
	font-weight: bold;
	}
	
.BabWarningBodyBackground  {
	background-color: #fff; 
	color: #000;  
	font-weight: bold;
	}

.BabWarningBodyBackground a:Link,
.BabWarningBodyBackground a:Visited { 
	color: #00c; 
	font-weight: bold;
	}

.BabWarningBodyBackground a:Hover {
	color: #FF3333; 
	}

/* admin letterlist users/contacts */
.BabLetterlists { 
	color: #000000; 
	background-color: #FFFFFF;  
	font-weight: bold;
	}

.BabLetterlists a:link,
a.BabAlphabetLink:Link,
a.BabAlphabetLink:Visited { 
	color: #009933; 
	font-weight: bold;
	}
.BabLetterlists a:Hover,
a.BabAlphabetLink:Hover { 
	color: #000;
	}

a.BabNameEmailLink,
a.BabNameEmailLink:Link,
a.BabTitleSmall,
a.BabTitleSmall:Link { 
	color: #000000;
	}
a.BabNameEmailLink:Hover,
a.BabTitleSmall:Hover { 
	color: #0000CC;
	}



/* notes,faq,eventeditor,vacation */
a.BabEventFaqLink,
a.BabEventFaqLink:Link { 
	color: #009933;  
	font-weight: bold;
	}
	
a.BabEventFaqLink:Hover { 
	color: #FF3333;
 	}

a.BabContentLinkColor:Link,
a.BabContentLinkColor:Visited,
a.BabSummaryLinkColor:Link,
a.BabSummaryLinkColor:Visited {
	color: #0000CC;
	}
a.BabContentLinkColor:Hover,
a.BabSummaryLinkColor:Hover,
.BabSummaryNbrMessage {
	color: #FF3333;
	}





/**************** ARTICLES ****************************/

/* titles */
.BabTopicsTitleBackground {
	background-color: #fc3; 
	color: #000;
	font-weight: bold;
	padding:.05em .5em;
	}
/* font and background articles */

.BabTopicsAuthorBackground {
	border-bottom:#ccc 1px solid;
	}

.BabMonthCalendarCurentDayBackground {
	background-color: #E6E6F7; 
	color: #000000; 
	}

.BabArticleSpacing { 
	height: 5px; 
	}

a.BabTopicsFooterLink,
a.BabTopicsFooterLink:Link,
a.BabTopicsFooterLink:Visited { 
	color: #4990B1; 
	text-decoration: none;
	}
	
a.BabTopicsFooterLink:Hover {
	text-decoration: underline;
	}
	

.BabTopicsAuthorBackground {
	padding:0;
	padding-top:5px;
	}



a.BabTopicsFooterMoreLink:Link,
a.BabTopicsFooterMoreLink:Visited { 
	color: #000;
	text-decoration: none;
	border:#ccc 1px solid;
	padding:1px 4px;
	border-width:1px 1px 0 1px;
	background:#fff;
	margin-right:1em;
	position:relative;
	font-weight:bold;
	}

	
a.BabTopicsFooterMoreLink:Hover { 
	background-color:#fc3;
	border-color:#fc3;
	}

.BabTopicsTitleNavigation {
	color: #555; 
	font-weight: bold ; 
	text-decoration: underline;
	}


/********** AGENDA **** CALENDAR ******************************/



.BabCalendarBodyBackground,
.Blackbg { 
	background-color: #000000; 
	}



/*names of the days on top of monthcalendar*/
.BabCalendarDays { 
	background-color: #181A91; 
	color: #FFFFFF;  
	font-weight: bold;
	}

.BabMonthCalendarEventHourfont { 
	background-color: #FFFFFF; 
	color: #009933; 
	}




/***************** MAIL ******************************/

/* white background  in use on inbox  groups  - plus links */
.BabMailBackground { 
	background-color: #FFFFFF;
	color: #000000;
}


/***************** FORUMS**********************************/

/*threads*/
.BabForumBackground,
.HeaderDayCalendar { 
	background-color: #F9F9F9;  
	}
.BabForumBackground1 {
	background-color: #F0F0F0;
}

	

a.BabForumNavigation,
a.BabForumNavigation:Link,
a.BabForumNavigation:Visited { 
	color: #111166; 
	font-weight: bold;
	}
	
a.BabForumNavigation:Hover {
	color: #009933;
	}

 /*posts*/
.BabForumTopicsNavTitle,
.BabForumTopicsNavDate, 
.BabForumTopicsNavAuthor {
	background-color: #E6E6F7; 
	color: #111166;  
	font-weight: bold;
	}

a.BabForumTopicsConfirm,
a.BabForumTopicsConfirm:Link,
a.BabForumTopicsConfirm:Visited { 
	color: #4990B1; 
	text-decoration: none;
	}
a.BabForumTopicsConfirm:Hover 
	{ 
	text-decoration: underline;
	}

a.BabForumTopicsNavContribution:Link,
a.BabForumTopicsNavContribution:Visited { 
	color: #000000;
	}
a.BabForumTopicsNavContribution:Hover { 
	color: #0000CC;
	}

.BabForumTopicsNavTreeBody { 
	background-color:#FFFFFF; 
	color: #000000;   
	font-weight: bold;
	}
	

.BabForumTopicsNavTreeLive {
	background-color:#FFFFFF;
	color:#FF3333;
	font-weight:bold;
	}
	

/************* ADMINISTRATION SITES*************/

.BabSiteAdminTitleFontBackground,
.BabFaqTitleFontBg,
.BabTopicsAdminListTitle {
/*	background-color: #aaaaaa; */
	background: #23a2d1 url('../images/list_header_bg.png') repeat-x 0 0;
	color: #ffffff; 
	font-weight: normal;
	text-align: left;
}

.centercontent .BabSiteAdminTitleFontBackground a,
.centercontent .BabFaqTitleFontBg a,
.centercontent .BabTopicsAdminListTitle a {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

	
	
.BabSiteAdminSmall {
	background-color: #D1D1D9; 
	color: #111166 ;  
	font-weight: bold; 
	}


.BabSiteAdminFont { 
	color: #000; 
	}


/********* FAQ **** NOTES ********************************/
a.BabFaqLink,
a.BabFaqLink:Link,
a.BabFaqLink:Visited { 
	color: #0000CC; 
	font-weight: bold;
	}
	
a.BabFaqLink:Hover { 
	color: #FF3333; 
	}

.BabFaqQuestion { 
	background-color: #FFFFFF; 
	color: #0000CC;
	font-weight: bold;
	}


/********** ADMINISTRATION THEMES TOPICS **********/


a.BabTopicsAdminTitleLink,
a.BabTopicsAdminTitleLink:Link,
a.BabTopicsAdminTitleLink:Visited { 
	color: #111166; 
	font-weight: bold;
	}
	
a.BabTopicsAdminTitleLink:Hover { 
	color: #009933;
}



.orgchart {
	background: #1E6A91 url(../images/orgchart_bg.png) repeat-x top left;
}



/********** DEBUG PANEL **********/

#BAB_DEBUG_link {
	position: absolute !important;
	top: 8px !important;
	left: 40px !important;
	color: #ffffff !important;
	background-color: transparent !important;
}

#BAB_DEBUG {
	margin: 0em !important;
	padding: 1em !important;
	position: absolute !important;
	right: 0 !important;
	left: 0 !important;
	top: 40px !important;
	color: #000000 !important;
	background-color: #ffffff !important;
	z-index: 1000 !important;
	opacity: 0.9;
}

/********** ORG CHART **********/
div.entity {
	/* outline: 1px solid #bbbbbb;  */
}

.level4.vertical div.entity {
	background-color: #4292c2;
	border:0;
	outline-width: 0;
	color:black;
	width:14em;
}

.level4.vertical div.entity div.members {
	background: transparent;
}

.level5.vertical div.entity {
	background-color: #3282b2;
}

.level3.vertical div.entity table img {
	display: none;
}

.level4.vertical div.entity table img {
	display: none;
}

.bab_treeToolbar,
.bab_treeLocationBar {
	color: #ffffff;
	background-color: #1e6a91;
}

.bab_treeLocationBar .bab_treeLocationElement {
	padding-top: 0;
	padding-bottom: 0;
}
.bab_treeToolbar .bab_toolbarButton:hover,
.bab_treeLocationBar .bab_treeLocationElement:hover {
	background-color: #3e8ab1;
}

span.level2.entity {
	font-weight: bold;
}

span.level3.entity {
	font-weight: normal !important;
}

span.level4.entity {
	font-weight: normal !important;
	color: #777777;
}
span.level5.entity {
	font-weight: normal !important;
	color: #aaaaaa;
}
.bab-frame .bab-section .bab-configuration-panel {
	padding-bottom: 48px;
	background: transparent url("../images/marquee_div.png") no-repeat scroll center bottom
}

.orgchart .entity.Secrétariat {
	background-color: #bbaaaa !important;
	border-color: #443333 !important;
}
.orgchart .entity.Cellule_administrative {
	background-color: #aaaabb !important;
	border-color: #333344 !important;
}


.widget-icon.ui-selected:hover,
.widget-icon:hover {
	-moz-border-radius: 6px;
	background-color: #e7e7e7;
}

.widget-icon.ui-selecting:hover,
.widget-icon.ui-selecting,
.widget-icon.ui-selected {
	-moz-border-radius: 6px;
	background-color: #d8dde3;
}

