<OFInclude file="addons/sitemap_editor/containerItemsList.html">

<OFRequest name="smed_id">

<h3>Les 5 derniers Articles</h3>

<OFSitemapEditorTopics node="<OVsmed_id>" saveas="Topics">

<OCRecentArticles last="5" topicid="<OVTopics>">
	<div class="article">
		<h4 class="BabTopicsTitleBackground"><OVArticleTitle></h4>
		<div class="BabTopicsBackground">
			<OVArticleHead>
		</div>
	</div>
</OCRecentArticles>