<OFRequest name="smed_id">

<OCSitemapEntry node="<OVsmed_id>">
	<OFPutVar name="babTitle" value="<OVSitemapEntryText>">
</OCSitemapEntry>


<ul>
<OCSitemapEntries node="<OVsmed_id>">
	<li>
		<a href="<OVSitemapEntryUrl>" title="<OVSitemapEntryDescription>" onclick="<OVSitemapEntryOnclick>"><OVSitemapEntryText></a>
	</li>
</OCSitemapEntries>
</ul>