



/* form */

.smed_edit_node {
	border:#ccc 1px solid;
	background:#eee;
	padding:.2em;
}


.smed_edit_node .widget-layout-hbox {

	width:100%;
	
}



.smed_edit_node_col {
	margin:1em;
	padding:.5em;
	border:#ccc 1px solid;
	background:#fff;
}


.smed_submit {
	text-align:center;
	margin:1em 0;
}


.widget-pair .first .widget-label {
	font-weight:bold;
	line-height:1.8em;
}


.widget-pair .first {
	margin-top:1em;
}


.widget-pair .second {
	margin-bottom:1em;
}


.smed_edit_node .widget-tab-panel-header {
	display:none;
}


.widget-businessapplicationlist {
	border-collapse:collapse;
	border:#000 1px solid;
	width:90%;
}


.widget-businessapplicationlist tbody td,
.widget-businessapplicationlist tbody th  {
	border-top:#ccc 1px solid;
	padding:.4em .8em;
}





.smed_movedReference {
	background:#ffffbf url('../../../skins/ovidentia/images/addons/sitemap_editor/help.png') no-repeat 5px 8px;
	border:#cfcf3d 1px solid;
	color:#5e5e35;
	padding:.6em .6em .6em 30px;
	margin:1em;
}


.smed_infoButton {
	text-align:right;
	margin-top:1em;
}

.smed_infoButton a {
	border:#444 1px solid;
	background:#777;
	color:#fff;
	padding:.1em .5em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}


.smed_infoButton a:hover {
	border:#444 1px solid;
	background:#000;
	color:#fff;
}



form .widget-pair .second {
	margin-left:1em;
}



.smed_sort {
/*
	margin:1em auto;
	width:70%;
	border:#ccc 1px solid;
	background:#eee;
	padding:1em;
*/
}


.smed_sort .widget-layout-vbox-item {
	border:#eee 1px solid;
	padding:.4em .9em;
	margin:.4em;
	background-color: #fff;
	cursor: move;
	cursor: hand;
	min-height:1.5em;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.smed_sort .widget-layout-vbox-item:hover {
	border-color:#ccc;
	background-color: #eee;
}
/*
.smed_sort .widget-layout-vbox-item:hover {
	background:#ffca8c;
	border:#ffa200 1px solid;
}
*/
.widget-sortable-placeholder {
	border:#ffa200 1px dashed;
	display:block;
	min-height:1.5em;
	padding:.4em .9em;
	margin:.4em;
	
	-moz-border-radius:5px;
	border-radius:5px;
}





.smed_edit {
	margin: 2em auto;
	padding: 2em;

	border: 1px solid #ddd;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	
	background-color: #f7f7f7;
	
	max-width: 700px;
}


.smed_buttons {
	padding: .2em .3em;
	
}


.smed_buttons .widget-link {

	margin: .2em;
	padding: .2em .3em;
	border: 1px solid #ddd;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	
	background-color: #f7f7f7;
}



/**
 * side panel treeviews
 */
.smed-resizable-panel {
	overflow: hidden !important;
	padding: 0 !important;
	background-color: #f7f7f7;

}

.smed-resizable-panel .line.bab-highlighted-node {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
}
html > body .smed-resizable-panel .line.bab-highlighted-node {
	background-color: #ccc;
}

.smed-resizable-panel * {
	border: none !important;
	background-color: transparent;
	color: #000;
}

.smed-resizable-panel .bab_tree .tree {
	background-color: transparent ! important;
	margin-left: -1.8em ! important;
}

.smed-resizable-panel .bab_tree .tree div.line {
	white-space: nowrap !important;
}
.smed-resizable-panel .ui-resizable-e {
	background-color: #eee;
	border-left: 1px solid #000;
    box-shadow: 0 0 4px #000000;
    width: 12px;
}

.smed-resizable-panel .bab_treeToolbar {
	white-space: nowrap;
}
.smed-resizable-panel .bab_collapseAll,
.smed-resizable-panel .bab_expandAll {
    display: inline-block;
    width: 0;
    vertical-align: middle;
    overflow: hidden;
}

.smed-resizable-panel .bab_searchField {
    vertical-align: middle;
}



.smed-right-panel .smed-content {
	padding-top: 2em;
	padding-left: 2em;
}

.smed-resizable-panel .bab_tree .tree .level3,
.smed-resizable-panel .bab_tree .tree .level4,
.smed-resizable-panel .bab_tree .tree .level5 {
	font-weight: normal;
}

.smed-form-buttons {
/* 	width: 100% !important;*/
	text-align: center;
}

.widget-label {
	color: #777;	
}


.smed-node-editor .widget-section-content .smed-form-field .widget-layout-vbox-item {
	display: inline-block;
	vertical-align:middle;
}
.smed-node-editor .widget-section-content .smed-form-field .widget-layout-vbox-item p {
	padding:0;
	margin: 0;
}
.smed-node-editor .widget-section-content .smed-form-field .widget-layout-vbox-item .smed-description {
	text-align: left;
	display: inline-block;
	width: 8em;
	margin-right: 1em;
}
.smed-node-editor .widget-section-content .smed-form-field .widget-layout-vbox-item .widget-layout-hbox-item .widget-label {
	width:auto;
}



.smed-toolbar {
	padding: 8px 0 8px 8px;
	background: #ddd;
}


.smed-topic-acl {
	width:400px;
}

.smed-topic-acl .widget-acl-frame
{
	width:100%;
}


.smed-translations {
	margin-left:10em;
	border-left:#bbb 2px dotted;
	padding:0 0 2em 1.5em;
}
