<style>
@import url('<OFGetSelectedSkinPath>homepage.css');
</style>
<div class="public"> 
 <OCArticlesHomePages type="public"> 
	<OFPutVar name="nopub" value="1">
	<div class="article">
	<h3><OVArticleTitle></h3>
	<div class="head"><OVArticleHead></div>
	<OCIfEqual expr1="<OVArticleReadMore>" expr2="1">
	<p class="readmore"><a href="<OVArticleUrl>"><OFTranslate text="Read More"></a></p>
	</OCIfEqual>
	</div>
  </OCArticlesHomePages> 

<OCIfNotEqual expr1="<OVnopub>" expr2="1">
<div class="article">     
  <p> <strong>OVIDENTIA</strong>
	is a toolbox allowing to publish with extreme ease and very 
	fast an intranet, extranet or internet portal. Starting with 
	the classic functions of a Content Management System (CMS) 
	such as: </p>
  <ul>
	<li>publishing of information (WYSIWYG editor, article tree, 
	  categorization), </li>
	<li>validation workflow (allowing to define approbation schemes, 
	  from simple ones to the most complex), </li>
	<li>a search engine,</li>
	<li> ...</li>
  </ul>
  <p>
	... <strong>OVIDENTIA</strong>
	also has powerful collaborative functions</p>

  <ul>
	<li> Profile manager, shared agendas, mail interface, directories, 
	</li>
	<li>file manager (with version management)</li>
	<li>Forums,</li>
	<li>FAQ, </li>
	<li>Management of vacation requests (with workflow)</li>
	<li>Possibility to delegate administration functions (within 
	  a given perimeter and for a defined set of functions)</li>
	<li>... </li>
  </ul>

  <p>Its architecture, completely modular, allows to plug in additional 
	extension modules developed by the <strong>OVIDENTIA</strong> 
	community. </p>

  <p>
	For more information : <a href="http://www.ovidentia.org">http://www.ovidentia.org </a>
  </p>
</div>
</OCIfNotEqual>

</div>
